// variables, mixins, placeholder, root, *, html, body
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
$height-header:735px;
$color-primary: #BBBBBB;
$font-brand: 50px;
$font-family-brand: "Nunito", sans-serif;
$font-weight-brand: 300;
$letter-spacing-brand:2px;
$text-transform-uppercase: uppercase;
$font-family-slogan:"Josefin Sans", sans-serif;
$font-size-slogan:18px;
$text-align-center: center;
$padding-header-top:3rem;
$padding-header-left: 22rem;
$color-yellow: #d3ab55;
$color-yellow-opacity: rgba(211, 171, 85,0.5);
$font-family-dance: "Dancing Script", cursive;
$margin-bottom-welcome: 40px;
$font-size-80: 80px;
$font-size-40:40px;
$color-black: #000;
$color-secondary: #262626;
$font-style-italic: italic;


@mixin headerBrand(){
    color: $color-primary;
    font-size: $font-brand;
    font-family:$font-family-brand;
    font-weight: $font-weight-brand;
    letter-spacing: $letter-spacing-brand;
    text-transform: $text-transform-uppercase;
}

@mixin headerSlogan(){
    font-family: $font-family-slogan;
    font-size: $font-size-slogan;
    color: $color-primary;
    font-weight: $font-weight-brand;
    letter-spacing: $letter-spacing-brand;
    text-transform: $text-transform-uppercase;
}

@mixin logoBorder(){
    border: 3px solid #d3ab55;
    border-radius: 50rem;
}

@mixin welcome(){
    font-family: $font-family-dance;
    font-weight: $font-weight-brand;
    margin-bottom: $margin-bottom-welcome;
    font-size: $font-size-80;
    color: $color-yellow;
    margin-top: 3rem;
}

@mixin subHeading(){
    font-size: $font-size-40;
    font-family: $font-family-slogan;
    font-weight: $font-weight-brand;
    color: $color-primary;
    text-align: $text-align-center;
    margin-bottom: 2rem;
}

@mixin button(){
    background-color: transparent;
    border: 1px solid $color-yellow;
    padding: 15px 30px;
    margin-bottom: 30px;
    transition: 0.5s;
    text-transform: $text-transform-uppercase;
    color: $color-yellow;
    letter-spacing: $letter-spacing-brand;
    font-weight: $font-weight-brand;
}

@mixin mainHeading(){
    font-size: $font-size-80;
    font-family: $font-family-dance;
    font-weight: $font-weight-brand;
    color: $color-yellow;
    margin-bottom: 40px;
    text-align: $text-align-center;
}

@mixin subHeading(){
    font-size: $font-size-40;
    font-family: $font-family-slogan;
    font-weight: $font-weight-brand;
    color: $color-primary;
    text-align: $text-align-center;
    margin-bottom: 40px;
}

@mixin stars(){
    color: $color-yellow;
    text-align: $text-align-center;
}

@mixin description(){
    font-size: $font-size-slogan;
    font-family: $font-family-slogan;
    font-style: $font-style-italic;
    color: $color-primary;
    text-align: justify;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

@mixin card-overlay-heading(){
    font-family: $font-family-brand;
    font-size: $font-brand;
    font-weight: $font-weight-brand;
    letter-spacing: $letter-spacing-brand;
    text-transform: capitalize;
    color: white;
}

@mixin card-overlay-paragraph(){
    font-family: $font-family-slogan;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: $font-weight-brand;
    letter-spacing: $letter-spacing-brand;
    text-transform: capitalize;
    color: white;
}

@mixin card-overlay-btn() {
    width: 150px;
    height: 40px;
    color: $color-yellow;
    background-color: #fff;
    font-family: $font-family-slogan;
    font-size: 14px;
    font-weight: bold;
    text-transform: $text-transform-uppercase;
    letter-spacing: 1px;
    border: 1px solid $color-yellow;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

@mixin copyright(){
    font-family: $font-family-slogan;
    font-size: 18px;
    color:$color-primary;
    letter-spacing: $letter-spacing-brand;
    text-transform: capitalize;
    font-weight: 100;
}