// navbar, section, footer

header{
    background: url(../images/bg.jpeg) no-repeat center center/cover;
    height: $height-header;
    position: relative;
    height: 100vh;
    background-color: black;
    

    .brand{
        display: flex;
        justify-content: space-center;
        align-items: center;
        padding-top: $padding-header-top;
        padding-left: $padding-header-left;

        .brand-column{
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
        }

        .hamburger .fas{
           padding-left: 15.75rem;
           position: fixed;
           margin-top: -3rem;
        }
    }

    .header-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about-us{
    background-color: $color-secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;

    .about-us-left{
        margin-left: -10rem;
        padding-top: 3rem;
        margin-right: 3rem;
    }

    .about-us-right{
        margin-left: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.gallery{
    .cards-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 3);
        height: 30vw;
        overflow: hidden;
        position: relative;
        background-color: black;
        

        &:hover .card-overlay{
            left:0;
        }
        .card-overlay{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top:0;
            left:-100%;
            z-index: 10;
            background-color: $color-yellow-opacity;
            transition: 0.7s;
        }
    }
}

.footer{
    background-color: $color-secondary;
    position: relative;

    .footer-header{
        display: flex;
        justify-content: space-center;
        align-items: center;
        padding-top: $padding-header-top;
        padding-left: $padding-header-left;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-copyright-paragraph{
        text-align: center;
        padding-bottom: 4rem;
    }

}